<form #personForm="ngForm" class = "registration-form" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group" style="text-align: center; margin: 2%;">
        <label><h1>Jelentkezési lap</h1></label>
    </div>
<!--camps-->
<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="form-group">
        <label><h3>Táborok</h3></label>
      </div>
    <div class="form-check" *ngFor="let camp of camps">
        <input class="form-check-input" type="checkbox" id={{camp.id}} value={{camp}} name={{camp.name}} (change)="person.camps.push(camp.id)">
        <label class="form-check-label" for={{camp.id}}>
            {{camp.name}} ({{camp.from}})
        </label>
    </div>
</div>
<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="form-group">
        <label><h3>Szülő adatai</h3></label>
    </div>
    <!--name-->
    <div class="form-group">
      <label for="exampleFormControlInput1"><b style="color: red">*</b>Szülő neve</label>
      <input class="form-control" id="name" [(ngModel)]="parent.name" name="parentName" required>
    </div>
    <!--Address-->
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputZip"><b style="color: red">*</b>Irányító szám</label>
            <input type="text" class="form-control" id="inputZip" [(ngModel)]="parent.postCode" name="postCode" required>
        </div>
        <div class="form-group col-md-3">
            <label for="inputCity"><b style="color: red">*</b>Város</label>
            <input type="text" class="form-control" id="inputCity" [(ngModel)]="parent.country" name="country" required>        
        </div>
        <div class="form-group col-md-6">
            <label for="inputCity"><b style="color: red">*</b>Utca</label>
            <input type="text" class="form-control" id="inputState" [(ngModel)]="parent.street" name="street" required>        
        </div>
    </div>
    <!--phone-->
    <div class="form-group">
      <label for="exampleFormControlInput1"><b style="color: red">*</b>Telefonszám</label>
      <input class="form-control" id="phone" [(ngModel)]="parent.phone" name="phone" required>
    </div>
    <!--email-->
    <div class="form-group">
        <label for="exampleFormControlInput"><b style="color: red">*</b>Email cím</label>
        <div class="input-group">
            <input type="text" class="form-control" id="validationCustomUsername" placeholder="felhaszálónév" aria-describedby="inputGroupPrepend" [(ngModel)]="parent.email" name="email" required>
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">@gmail.com</span>
            </div>
        </div>
    </div>
      <!--job-->
      <div class="form-group">
        <label for="exampleFormControlInput1"><b style="color: red">*</b>Munkahely</label>
        <input class="form-control" id="job" [(ngModel)]="parent.job" name="job" required>        
      </div>
</div>
<!--CHILD-->
<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="form-group">
        <label><h3>Gyerek adatai</h3></label>
      </div>
    <!--name-->
    <div class="form-group">
        <label for="FormControlInput1"><b style="color: red">*</b>Gyerek neve</label>
        <input class="form-control" id="name"  [(ngModel)]="person.name" name="name" required>        
    </div>
    <div class="form-row" style="margin-left: 1%;margin-right: 1%;margin-bottom: 2%;margin-top: 2%;">
        <label style="margin-right: 5%;"><b style="color: red">*</b>Nem:</label>
        <div class="form-check" style="margin-right: 5%;" ngDefaultControl [(ngModel)]="person.gender" [ngModelOptions]="{standalone: true}" required>
            <input class="form-check-input" type="radio" name="gender" id="Fiú" value="Fiú">
            <label class="form-check-label" for="Radios">Fiú</label>      
        </div>
        <div class="form-check" ngDefaultControl [(ngModel)]="person.gender" [ngModelOptions]="{standalone: true}">
            <input class="form-check-input" type="radio" name="gender" id="Lány" value="Lány">
            <label class="form-check-label" for="Radios">Lány</label>
        </div>        
    </div>
    <!--Birth date-->
    <div class="form-group" style="margin-right: 1%;">
        <label for="birthday" style="margin-right: 1%;"><b style="color: red">*</b>Születési idő:</label>
        <input type="date" ngDefaultControl [(ngModel)]="person.birthDate" name="birthDate" required>        
    </div>
    <!--size-->
    <div class="form-group">
      <label for="exampleFormControlSelect1"><b style="color: red">*</b>Póló méret</label>
      <select class="form-control" id="size" ngDefaultControl [(ngModel)]="person.size" name="size" required>
        <option value=104>104</option>
        <option value=104>110</option>
        <option value=116>116</option>
        <option value=122>122</option>
        <option value=128>128</option>
        <option value=134>134</option>
        <option value=140>140</option>
        <option value=146>146</option>
        <option value=152>152</option>
        <option value=158>158</option>
        <option value=164>164</option>
      </select>
    </div>
    <!--food sensitivity-->
    <div class="form-group">
      <label for="FormControlTextarea1">Ételérzékenység</label>
      <textarea class="form-control" id="foodSensitivity" rows="2" [(ngModel)]="person.foodSensitivity" name="foodSensitivity"></textarea>
    </div>
    <!--other-->
    <div class="form-group">
        <label for="FormControlTextarea1"><b style="color: red">*</b>Egyéb tudnivaló</label>
        <textarea class="form-control" id="other" [(ngModel)]="person.other" placeholder="A gyermekkel kapcsolatos fontos tudnivalók, gyermek bemutatása pár mondatban." name="other" rows="3" required></textarea>
    </div>
</div>
<div class="shadow p-3 mb-5 bg-white rounded">
    <!--Nyilatkozatok elfogadása-->
    <div class="form-group">
<p><b style="color: red">*</b> A mező kitöltése kötelező!</p>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-bottom: 1%" [disabled]="!personForm.form.valid" >Küldés</button>
</div>
</form>