<div class="card">
    <h5 class="card-header">Kezdőlap</h5>
    <div class="card-body">
      <h5 class="card-title">Gerida Lovagrend</h5>
      <p class="card-text">Üdvözlünk honlapunkon! Lelkes szervezői csapatunk 20. éve szervez táborokat, ahova szeretettel várjuk a 6-14 éves gyermekeket! Honlapunkon megtalálsz minden információt a táborral, programjainkkal és a jelentkezéssel kapcsolatban.</p>
    </div>
  </div>
  <div class="alert alert-dark" role="alert">
    Aktuális táboraink
  </div>
  <app-active-camps></app-active-camps>