<div class="card text-center">
    <div class="card-header">
      Kapcsolat
    </div>
    <div class="card-body">
      <h5 class="card-title">Mikó László</h5>
      <h6 class="card-subtitle mb-2 text-muted">Táborvezető</h6>
      <p class="card-text"><b>Email: </b>gerida.lovagrend@gmail.com<br><b>Telefon: </b>0620 962 3221<br><b>Facebook: </b><a href="https://www.facebook.com/GeridaLovagrend/">https://www.facebook.com/GeridaLovagrend/</a></p>
      <a routerLink="/jelentkezes" class="btn btn-primary">Tábor jelentkezés</a>
    </div>
    <div class="card-footer text-muted">
      Gerida Lovagrend
    </div>
  </div>